<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <div class="widget">

            <div class="header">
                <h3>Log Your Arousal Level</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-md-offset-4 text-left">
        <ul class="list-unstyled">
            <li>
                <a href="/arousal/log/1"><span class="label label-default">1</span> - Couldn't get it up if I tried</a>
            </li>
            <li>
                <a href="/arousal/log/2"><span class="label label-primary">2</span> - Feeling a little tingle</a>
            </li>
            <li>
                <a href="/arousal/log/3"><span class="label label-info">3</span> - Yup... I'm horny!</a>
            </li>
            <li>
                <a href="/arousal/log/4"><span class="label label-warning">4</span> - Bonerific!!!</a>
            </li>
            <li>
                <a href="/arousal/log/5"><span class="label label-danger">5</span> - Slamming my dick in a door would feel great!</a>
            </li>
        </ul>
    </div>


    <div class="col-md-6 col-md-offset-3 text-center">
        <div class="widget toppad">

            <% 
            
            var code = "default";
            switch(arousal.level) { 
                case 1:
                    code = "default";
                    break;
                case 2:
                    code = "primary";
                    break;
                case 3:
                    code = "info";
                    break;
                case 4:
                    code = "warning";
                    break;
                case 5:
                    code = "danger";
                    break;
            }    
            %> 
            <p>Your most recent arousal level was 
                <span class="label label-<%= code %>"><%= arousal.level %></span>

                recorded <%= moment.utc(arousal.date).tz('America/New_York').fromNow() %> on <%= moment.utc(arousal.date).tz('America/New_York').format('MM/DD/YYYY HH:mm:ss') %></p>

        </div>
    </div>


</div>

