<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">



        <title><%- title %></title>

        <link href="/styles/styles.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


    </head>

    <body>

        <div id="wrap">

            <div class="container-fluid">
                <% if (typeof flashMessages !== 'undefined' && flashMessages != false) { %>
                <% _.each(flashMessages, function(msg) { %>
                <div class="alert alert-<%= msg.type %>"><%= msg.message %></div>
                <% }) %>
                <% } %>

                <!-- Include the view file for the current controller/route -->
                <%- body %>

            </div>

        </div>

        <div id="footer">
            <div class="container-fluid">
                <div class="row centered">
                    <p>
                        <a href="/">Orgasms</a> | 
                        <a href="/chastity">Chastity</a> | 
                        <a href="/arousal">Arousal Level</a> |
                        <a href="/stats">Stats</a>
                    </p>
                </div>
            </div>
        </div>

        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/lib/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        <script src="js/app.js"></script>

    </body>
</html>
