<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <div class="widget">

            <div class="header toppad">
                <h1>OD</h1>
            </div>

        </div>
    </div>

</div>

