<h2 class="text-info">Details</h2>
<fieldset>
    <legend>chastityLog</legend>

	
		<label for="start">start:</label>
		<p><%- chastityLog.start %></p>
	
		<label for="end">end:</label>
		<p><%- chastityLog.end %></p>
	

<%- link_to('edit', '/chastityLog/edit/'+chastityLog.id, {class : 'btn btn-warning'}) %>
</fieldset>

<%- link_to('back to list', '/chastityLog', {class : 'btn btn-primary'}) %>
