<!DOCTYPE html>
<html>
    <head>
        <title>Days</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    </head>
    <body>

        <div id="wrap">
            <div class="container-fluid">
                <% if(flash !== undefined && flash != ""){ %>
                <div class="alert alert-warning"><%- flash %></div>
                <% } %>
                
                <%- body %>
            </div>
        </div>

        <div id="footer">
            <div class="container-fluid">
                <div class="row centered">
                    <p>
                        <a href="/foodLog">Food</a> |
                        <a href="/exerciseLog">Exercise</a> |
                        <a href="/orgasm">Orgasms</a> | 
                        <a href="/chastity">Chastity</a> | 
                        <a href="/arousal">Arousal Level</a> | 
                        <a href="/punishment">Punishments</a> | 
                        <a href="/stats">Stats</a> |
                        <a href="account/profile">Profile</a>
                    </p>
                </div>
            </div>
        </div>

        <script src="/scripts/vendors/jquery.js"></script>
        <script src="/scripts/vendors/bootstrap.js"></script>
        <script src="/scripts/vendors/typeahead.bundle.js"></script>
        <script src="/scripts/vendors/jquery.easypiechart.js"></script>
        <%- renderScriptsTags(scripts) %>
        <script src="/scripts/app.js"></script>
        <%- renderInlineScriptsTags(inlineScripts) %>
    </body>
</html>