@font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@headings-font-weight:    300;

@background-dark: rgba(16, 88, 128, 1);
@background-light: rgba(29, 120, 167, 1);

@footer-background: rgba(16, 88, 128, .75);

@base_text: rgba(60, 148, 194, 1);

@text-color:  lighten(@base_text, 15%);
@link-color:  @text-color;

@brand-primary:         #428bca;
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;


//@border-radius-base: 0px;
//@border-radius-large: 0px;
//@border-radius-small: 0px;
